<div class="page-header">
  <h1>
    <a href="/day_of_the_week" class="btn btn-lg btn-success"><i class="fa fa-calendar "></i></a>
    Training schedule
  </h1>
</div>

<body>

<!DOCTYPE html>
<html>
<head>
<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#customers td, #customers th {
    font-size: 1em;
    border: 1px solid #4cae4c;
    padding: 3px 7px 2px 7px;
}

#customers th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #5cb85c;
    color: #ffffff;
}

#customers tr.alt td {
    color: #000000;
    background-color: #E7F0E4;
}
</style>
</head>
<body>

<table id="customers">
  <tr>
    <th>Day of the Week</th>
    <th>Exercise Type</th>
    <th>Muscle Group</th>
    <th>Exercise ID</th>
  </tr>
  <tr>
    <td>Monday</td>
    <td>Weights</td>
    <td>Upper Body</td>
    <td>6, 7, 8</td>
  </tr>
  <tr class="alt">
    <td>Tuesday</td>
    <td>Cardio</td>
    <td>---</td>
    <td>9, 10</td>
  </tr>
  <tr>
    <td>Wednesday</td>
    <td>Off day</td>
    <td>---</td>
    <td>---</td>
  </tr>
  <tr class="alt">
    <td>Thursday</td>
    <td>Weights</td>
    <td>Lower Body</td>
    <td>11, 12, 13, 14</td>
  </tr>
  <tr>
    <td>Friday</td>
    <td>Cardio</td>
    <td>---</td>
    <td>15, 16</td>
  </tr>
  <tr class="alt">
    <td>Saturday</td>
    <td>Off Day</td>
    <td>---</td>
    <td>---</td>
  </tr>
  <tr>
    <td>Sunday</td>
    <td>Weights</td>
    <td>Abs</td>
    <td>17, 18, 19, 20, 21</td>
  </tr>

</table>

</body>
</html>


</body>
