<div class="page-header">
  <h1>
    <a href="/show" class="btn btn-lg btn-success"><i class="fa fa-info-circle "></i></a>
    In doubt? Learn how to do the exercises!
  </h1>

  <style>
    #customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      width: 100%;
      border-collapse: collapse;
    }

    #customers td, #customers th {
      font-size: 1em;
      border: 1px solid #4cae4c;
      padding: 3px 7px 2px 7px;
    }

    #customers th {
      font-size: 1.1em;
      text-align: left;
      padding-top: 5px;
      padding-bottom: 4px;
      background-color: #5cb85c;
      color: #ffffff;
    }

    #customers tr.alt td {
      color: #000000;
      background-color: #E7F0E4;
    }
  </style>
</head>
<body>

  <table id="customers">
    <tr>
      <th>ID</th>
      <th>Exercise Name</th>
      <th>Exercise Picture</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>6</td>
      <td>ADVANCED KETTLEBELL WINDMILL</td>
      <td> <img src=" http://www.bodybuilding.com/exercises/exerciseImages/sequences/502/Male/m/502_2.jpg " width="150"></td>
      <td>
        <p><b>1.</b> Clean and press a kettlebell overhead with one arm.</p>
        <p><b>2.</b> Keeping the kettlebell locked out at all times, push your butt out in the direction of the locked out kettlebell. Keep the non-working arm behind your back and turn your feet out at a forty-five degree angle from the arm with the kettlebell.</p>
        <p><b>3.</b> Lower yourself as far as possible.</p>
        <p><b>4.</b> Pause for a second and reverse the motion back to the starting position.</p></td>
      </tr>
      <tr class="alt">
        <td>7</td>
        <td>DECLINE DUMBBELL BENCH PRESS</td>
        <td> <img src=" http://www.bodybuilding.com/exercises/exerciseImages/sequences/51/Male/m/51_1.jpg " width="150"></td>
        <td>
          <p><b>1.</b> Secure your legs at the end of the decline bench and lie down with a dumbbell on each hand on top of your thighs. The palms of your hand will be facing each other.</p>
          <p><b>2.</b> Once you are laying down, move the dumbbells in front of you at shoulder width.</p>
          <p><b>3.</b> Once at shoulder width, rotate your wrists forward so that the palms of your hands are facing away from you. This will be your starting position.</p>
          <p><b>4.</b> Bring down the weights slowly to your side as you breathe out. Keep full control of the dumbbells at all times. <b>Tip:</b> Throughout the motion, the forearms should always be perpendicular to the floor.</p>
        </td>
      </tr>
      <tr>
        <td>8</td>
        <td>BARBELL CURL</td>
        <td> <img src=" http://www.bodybuilding.com/exercises/exerciseImages/sequences/169/Female/m/169_2.jpg " width="150"></td>
        <td>
          <p><b>1.</b> Stand up with your torso upright while holding a barbell at a shoulder-width grip. The palm of your hands should be facing forward and the elbows should be close to the torso. This will be your starting position.</p>
          <p><b>2.</b> While holding the upper arms stationary, curl the weights forward while contracting the biceps as you breathe out. <b>Tip:</b> Only the forearms should move.</p>
          <p><b>3.</b> Continue the movement until your biceps are fully contracted and the bar is at shoulder level. Hold the contracted position for a second and squeeze the biceps hard.</p>
          <p><b>4.</b> Slowly begin to bring the bar back to starting position as your breathe in.</p>
        </td>
      </tr>
      <tr class="alt">
        <td>9</td>
        <td>TREADMILL</td>
        <td> <img src=" http://www.improvingyourworld.com/health/images/Treadmill%20workouts%20to%20burn%20fat.jpg " width="150"></td>
        <td>
          <p><b>1.</b> Learn where the emergency off switch is and test it.</p>
          <p><b>2.</b> Before you jump on a treadmill for the first time, stand on the treadmill with your feet on the side rails (not the belt) before you start the machine.Start Slowly!</p>
          <p><b>3.</b> Start by walking at a slow comfortable pace, such as 2 MPH. Keep your head up, and stay centered in the middle of the belt (not too far forward or back).</p>
          <p><b>4.</b> Bring down the weights slowly to your side as you breathe out. Keep full control of the dumbbells at all times. <b>Tip:</b> Find a comfortable walking speed for you. Warm up by walking for a few minutes before increasing the pace.</p>
        </td>
      </tr>
      <tr>
        <td>10</td>
        <td>STAIR CLIMBER</td>
        <td> <img src=" http://www.gymstore.com/v/vspfiles/photos/JL-STAIRWAY-2.jpg " width="130"></td>
        <td>
          <p><b>1.</b> Keep your body upright, with your hips centered over your legs. Place your hands gently on the machine, elbows bent at 90 degrees, or by your sides, moving back and forth as if you're running.</p>
          <p><b>2.</b> Press your entire heel down on the step. This forces your glutes and hamstrings to work, instead of just the calf muscles. Avoid pushing the step all the way down or letting it come all the way up.</p>
          <p><b>3.</b> Form slips when your mind drifts. Stay focused on squeezing your glutes every time you press your heel into the step.</p>
        </td>
      </tr>
      <tr class="alt">
        <td>11</td>
        <td>CLEAN DEADLIFT</td>
        <td> <img src=" http://www.bodybuilding.com/exercises/exerciseImages/sequences/671/Male/m/671_1.jpg " width="150"></td>
        <td>
          <p><b>1.</b> Begin standing with a barbell close to your shins. Your feet should be directly under your hips with your feet turned out slightly. Grip the bar with a double overhand grip or hook grip, about shoulder width apart. Squat down to the bar. Your spine should be in full extension, with a back angle that places your shoulders in front of the bar and your back as vertical as possible.</p>
          <p><b>2.</b> Begin by driving through the floor through the front of your heels. As the bar travels upward, maintain a constant back angle. Flare your knees out to the side to help keep them out of the bar's path.</p>
          <p><b>3.</b> After the bar crosses the knees, complete the lift by driving the hips into the bar until your hips and knees are extended.</p>
        </td>
      </tr>
      <tr>
        <td>12</td>
        <td>GOOD MORNING</td>
        <td> <img src=" http://www.bodybuilding.com/exercises/exerciseImages/sequences/686/Female/m/686_2.jpg " width="150"></td>
        <td>
          <p><b>1.</b> Begin with a bar on a rack at shoulder height. Rack the bar across the rear of your shoulders as you would a power squat, not on top of your shoulders. Keep your back tight, shoulder blades pinched together, and your knees slightly bent. Step back from the rack.</p>
          <p><b>2.</b> Begin by bending at the hips, moving them back as you bend over to near parallel. Keep your back arched and your cervical spine in proper alignment.</p>
          <p><b>3.</b> Reverse the motion by extending through the hips with your glutes and hamstrings. Continue until you have returned to the starting position.</p>
        </td>
      </tr>
      <tr class="alt">
        <td>13</td>
        <td>BARBELL LUNGE</td>
        <td> <img src=" http://www.bodybuilding.com/exercises/exerciseImages/sequences/41/Male/m/41_2.jpg " width="150"></td>
        <td>
          <p><b>1.</b> Hold on to the bar using both arms at each side and lift it off the rack by first pushing with your legs and at the same time straightening your torso.</p>
          <p><b>2.</b> Step away from the rack and step forward with your right leg and squat down through your hips, while keeping the torso upright and maintaining balance. Inhale as you go down. <b>Note:</b> Do not allow your knee to go forward beyond your toes as you come down, as this will put undue stress on the knee joint.</p>
          <p><b>3.</b> Using mainly the heel of your foot, push up and go back to the starting position as you exhale.</p>
        </td>
      </tr>
      <tr>
        <td>14</td>
        <td>FLUTTER KICKS</td>
        <td> <img src=" http://www.bodybuilding.com/exercises/exerciseImages/sequences/267/Male/m/267_2.jpg " width="150"></td>
        <td>
          <p><b>1.</b> On a flat bench lie facedown with the hips on the edge of the bench, the legs straight with toes high off the floor and with the arms on top of the bench holding on to the front edge. Squeeze your glutes and hamstrings and straighten the legs until they are level with the hips. This will be your starting position.</p>
          <p><b>2.</b> Start the movement by lifting the left leg higher than the right leg.Then lower the left leg as you lift the right leg.</p>
          <p><b>3.</b> Continue alternating in this manner (as though you are doing a flutter kick in water) until you have done the recommended amount of repetitions for each leg. Make sure that you keep a controlled movement at all times. Tip: You will breathe normally as you perform this movement.</p>
        </td>
      </tr>
      <tr class="alt">
        <td>15</td>
        <td>ELLIPTICAL MACHINE</td>
        <td> <img src=" http://www.truthaboutabs.com/images/cms/Image/Elliptical.jpg " width="150"></td>
        <td>
          <p><b>1.</b> Grab the stationary handlebar section of the machine, then carefully place your feet onto each pedal one foot at a time. The pedals are not resistant to your weight, and will most likely move after you place one foot on a pedal.</p>
          <p><b>2.</b> Align your feet properly on the pedals. Your feet should be parallel to the inside edges of the pedals. This will also allow your hips to align properly with the elliptical machine.</p>
          <p><b>3.</b> Straighten your spine to prevent your back from experiencing strain as you perform the exercise movements.Pull your abdominal muscles in, and push your pelvis forward at the same time.</p>
        </td>
      </tr>
      <tr>
        <td>16</td>
        <td>JUMPING JACKS</td>
        <td> <img src=" http://www.bodybuilding.com/exercises/exerciseImages/sequences/2943/Male/m/2943_2.jpg " width="150"></td>
        <td>
          <p><b>1.</b> Start by standing with your feet together. In one motion, jump your feet out to the side and raise your arms above your head.</p>
          <p><b>2.</b> Immediately reverse the motion by jumping back to the starting position.</p>
          <p><b>3.</b> Repeat for the recommended amount of repetitions.</p>
        </td>
      </tr>
      <tr class="alt">
        <td>17</td>
        <td>BENT-KNEE HIP RAISE</td>
        <td> <img src=" http://www.bodybuilding.com/exercises/exerciseImages/sequences/118/Female/m/118_2.jpg " width="150"></td>
        <td>
          <p><b>1.</b> Lay flat on the floor with your arms next to your sides and bend your knees at around a 75 degree angle and lift your feet off the floor by around 2 inches.</p>
          <p><b>2.</b> Using your lower abs, bring your knees in towards you as you maintain the 75 degree angle bend in your legs. Continue this movement until you raise your hips off of the floor by rolling your pelvis backward. Breathe out as you perform this portion of the movement. <b>Tip:</b> At the end of the movement your knees will be over your chest.</p>
          <p><b>3.</b> Squeeze your abs at the top of the movement for a second and then return to the starting position slowly as you breathe in. <b>Tip:</b> Maintain a controlled motion at all times.</p>
        </td>
      </tr>
      <tr>
        <td>18</td>
        <td>CABLE REVERSE CRUNCH</td>
        <td> <img src=" http://www.bodybuilding.com/exercises/exerciseImages/sequences/938/Female/m/938_2.jpg " width="150"></td>
        <td>
          <p><b>1.</b> Connect an ankle strap attachment to a low pulley cable and position a mat on the floor in front of it.Sit down with your feet toward the pulley and attach the cable to your ankles.</p>
          <p><b>2.</b> Lie down, elevate your legs and bend your knees at a 90-degree angle. Your legs and the cable should be aligned. If not, adjust the pulley up or down until they are.</p>
          <p><b>3.</b> With your hands behind your head, bring your knees inward to your torso and elevate your hips off the floor.</p>
          <p><b>4.</b> Pause for a moment and in a slow and controlled manner drop your hips and bring your legs back to the starting 90-degree angle. You should still have tension on your abs in the resting position.</p>
        </td>
      </tr>
      <tr class="alt">
        <td>19</td>
        <td>CROSS-BODY CRUNCH</td>
        <td> <img src=" http://www.bodybuilding.com/exercises/exerciseImages/sequences/124/Male/m/124_2.jpg " width="150"></td>
        <td>
          <p><b>1.</b> Lie flat on your back and bend your knees about 60 degrees.Keep your feet flat on the floor and place your hands loosely behind your head. This will be your starting position.</p>
          <p><b>2.</b> Now curl up and bring your right elbow and shoulder across your body while bring your left knee in toward your left shoulder at the same time. Reach with your elbow and try to touch your knee. Exhale as you perform this movement. <b>Tip:</b> Try to bring your shoulder up towards your knee rather than just your elbow and remember that the key is to contract the abs as you perform the movement; not just to move the elbow.</p>
          <p><b>3.</b> Now go back down to the starting position as you inhale and repeat with the left elbow and the right knee.Continue alternating in this manner until all prescribed repetitions are done.</p>
        </td>
      </tr>
      <tr>
        <td>20</td>
        <td>DECLINE OBLIQUE CRUNCH</td>
        <td> <img src=" http://www.bodybuilding.com/exercises/exerciseImages/sequences/211/Female/m/211_2.jpg " width="150"></td>
        <td>
          <p><b>1.</b> Secure your legs at the end of the decline bench and slowly lay down on the bench. Raise your upper body off the bench until your torso is about 35-45 degrees if measured from the floor. Put one hand beside your head and the other on your thigh. This will be your starting position.</p>
          <p><b>2.</b> Raise your upper body slowly from the starting position while turning your torso to the left. Continue crunching up as you exhale until your right elbow touches your left knee. Hold this contracted position for a second. <b>Tip:</b> Focus on keeping your abs tight and keeping the movement slow and controlled.</p>
          <p><b>3.</b> Lower your body back down slowly to the starting position as you inhale.</p>
          <p><b>4.</b> After completing one set on the right for the recommended amount of repetitions, switch to your left side. <b>Tip:</b> Focus on really twisting your torso and feeling the contraction when you are in the up position.</p>
        </td>
      </tr>
      <tr class="alt">
        <td>21</td>
        <td>BOTTOMS UP</td>
        <td> <img src=" http://www.bodybuilding.com/exercises/exerciseImages/sequences/2021/Male/m/2021_3.jpg " width="150"></td>
        <td>
          <p><b>1.</b> Begin by lying on your back on the ground. Your legs should be straight and your arms at your side. This will be your starting position.</p>
          <p><b>2.</b> To perform the movement, tuck the knees toward your chest by flexing the hips and knees. Following this, extend your legs directly above you so that they are perpendicular to the ground. Rotate and elevate your pelvis to raise your glutes from the floor.</p>
          <p><b>3.</b> After a brief pause, return to the starting position.</p>
        </td>
      </tr>
    </table>
  </body>
  </html>
</div>
